body{
    background-color: black;
    transition: all 2s ease;
    color: white;
    height: 100vh;
    font-family: "Open Sans",sans-serif;
}
header{
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250,0.1);
}
.home{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.nav{
    width: 30%; 
    display: flex; 
    justify-content: space-between;
}
.logo{
    padding-left: 50px;
}
#change_theme{
    width: 30px;
    height: 30px;
    padding: 0 10px;
    overflow: hidden;
}
.theme{
    padding-left: 20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    transition: all 2s ease;
}
.p_name{
    font-size: 60px; 
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.some_desc{
    font-size: 32px;
}
span{
    font-size: 20px;
    padding-bottom: 10px;
}
.quick-access{
    width: 83%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#add{
    padding: 10px 16px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 36px 1px rgb(230, 163, 7);
    animation: attention 2s infinite ease;
}
@keyframes attention {
    50%{
        scale: 1.1;
    }
}
input[type='search']{
    width: 250px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
}
input[type='search']:focus{
    border: none;
    outline-style: solid;
    outline-color:rgb(250, 242, 209);
    outline-width: 1px;
    box-shadow: 0 0 70px 1px rgba(250, 242, 209,.7);
}
.container{
    width: 100%;
    transition: all 2s ease;
    gap: 30px;
    align-items: center;
}
#task_list{
    gap: 10px;
    color: black;
    display: flex;
    flex-wrap:wrap-reverse;
    /* flex-direction: column-reverse; */
    align-items: center;
    justify-content: center;
}
input,
textarea{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
textarea::-webkit-scrollbar{
    width: 0;
}
.plan{
    border: solid thin;
    border-radius: 10px;
    width: 100%;
    max-width:540px;
    overflow: hidden;
    display: inline-block;
}
/* Different themes for the tasks */

.plan.theme1{
    background-color: #533e37;
    background-image: url('./images/chocolate.svg');
}
.plan.theme1 textarea, .plan.theme1 span{
    color: azure;
}
.plan.theme1 .plan_title{
        background-color: #5b4640;
        color: white;
}
.plan.theme2{
    color: #995b16;
    background-image: url('./images/coffee.svg');
}
.plan.theme2 .plan_title{
        background-color: #faecd7;
        color: #995b16;
}
.plan.theme3{
    background-image: url('./images/garden.svg');
    color:#255d34;
}
.plan.theme3 .plan_title{
        background-color: #b6c29bbd;
        color:#255d34;
}
.plan.theme4{
    background-image: url('./images/honey.svg');
    color:#995b16;
}
.plan.theme4 .plan_title{
        background-color: #fc3;
        color:#995b16;
}
.plan.theme5{
    background-color: antiquewhite;
}
.plan.theme5 .plan_title{
        background-color: wheat;
}
.plan.theme6{
    background-color: #ccc;
}
.plan.theme6 .plan_title{
    background-color: rgb(128 128 128);
    color: rgb(38 38 38);
}
.plan.theme6 textarea, .plan.theme6 span{
    color: #333;
}
/*  */

.plan_title{
        height: 40px;
        padding-left: 5px;
        font-size: 20px;
        text-transform: capitalize;
}
.plan_text{
    min-height: 60px;
    padding-left: 5px;
    text-align: left;
    field-sizing: content;
}
.plan_action_btns{
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pt{
    width: 24px;
    border-radius: 50%;
    transform: rotate(-45deg);
    outline: solid 2px gray;
    cursor: pointer;
    margin: 1px 2px;
    display: inline-block;
}

.pt.one{
    border-top: 12px solid #5b4640;
    border-bottom: 12px solid #4e372f;
}
.pt.two{
    border-top: 12px solid #faecd7;
    border-bottom: 12px solid #ddc0a6;
}
.pt.three{
    border-top: 12px solid #b6c29b;
    border-bottom: 12px solid #77bf6f;
}
.pt.four{
    border-top: 12px solid #fc3;
    border-bottom: 12px solid #fec200;
}
.pt.six{
    border-top: 12px solid rgb(128 128 128);
    border-bottom: 12px solid #ccc;
}
.pt.five{
    border-top: 12px solid wheat;
    border-bottom: 12px solid antiquewhite;
}

section{
    width: 90%;
    margin:auto;
    font-size: 22px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
#inst{
    height: 500px;
    gap: 5px;
}
#istruction{
    position: relative;
    display: block;
    width: 70%;
    font-size: 20px;
    cursor:none;
    background-color: transparent;
}
footer{
    position: relative;
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(155, 154, 154, 0.404);
}
.socials{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.socials a{
  transition: all 1s ease;
}
.socials a:hover{
 transform: translateY(-5px);
 animation-fill-mode: forwards;
}
@media(max-width : 780px){
.nav{
    width: 40%;
}
.logo{
        padding-left: 20px;
 }     
.p_name{
    font-size: 30px; 
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.some_desc{
    font-size: 28px;
}

footer{
    margin-top: 150px;
}
#inst{
    height: 600px;
}
#istruction{
    width: 95%;
}
#task_list{
    display: flex;
    flex-direction: column-reverse;
}
} 
