body{
    background-color: black;
    transition: all 2s ease;
    color: white;
    height: 100vh;
}
header{
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250,0.1);
}
.home{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
}
.nav{
    width: 30%; 
    display: flex; 
    justify-content: space-between;
}
.logo{
    padding-left: 50px;
}
#change_theme{
    width: 30px;
    height: 30px;
    padding: 0 10px;
    overflow: hidden;
}
.theme{
    padding-left: 20px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    transition: all 2s ease;
}
.p_name{
    font-size: 60px; 
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.some_desc{
    font-size: 32px;
}
span{
    font-size: 20px;
    padding-bottom: 10px;
}
.container{
    padding: 40px;
    transition: all 2s ease;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#task_list{
    gap: 20px;
    color: black;
    width: 100%;
}
.plan{
    border: solid thin;
    border-radius: 10px;
    width: 100%;
    max-width:540px;
    min-height: 330px;
    background-color: antiquewhite;
    display: inline-block;
}
.plan_date{
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    gap:5px;
}
.plan_title{
        background-color: wheat;
        height: 15%;
        display: flex;
        justify-content: start;
        padding-left: 10px;
        text-transform: capitalize;
}
.plan_desc{
    background-color: antiquewhite;
    padding-left: 5px;
    text-align: left;
    height: 60%;
    overflow-y: scroll;
}
.plan_type{
    border-top: solid thin white;
    background-color: antiquewhite;
    height: 10%;
}	
.focus{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
.date_selector{
    border: solid thin;
    border-radius: 10px;
    background-color: rgb(36, 34, 34);
    height: 400px;
    width: 500px;
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
#date_input{
    width: 250px;
    height: 30px;
    align-self: center;
}
.task{
    border: solid black;
    border-radius: 20px;
    width: 500px;
    height: 700px;
    overflow: hidden;
}
.date_container{
    height: 20%;
    background-color: rgba(107, 103, 103, 0.957);
}
input{
    display: inline;
}
.date{
    background-color: rgb(10, 9, 9);
    width: 100px;
    height: 120px;
    margin-left: 100px;
    transform: translateY(50px);
    border: solid thin black;
    border-radius: 7px;
    text-align: center;
}
.date h1{
    padding-top: 10px;
    font-size: 40px;
}
.task_container{
    background-color:rgb(0,0,34,0.95);
    height: 73%;
    padding-left: 30px;
}
.set{
    height: 7%; 
    align-items: center;
    display: flex;
    justify-content: center; 
    background-color:rgb(0,0,34,0.95);
    border-top: solid;
}
.catagory_of_task{
    display: flex;
    padding-left: 250px;
    padding-top: 5px;
}
.catagory_of_task h3{
    padding: 10px;
    cursor: pointer;
}
.catagory_of_task h3:hover{
    background-color: grey;
    border-radius: 6px;
}
.title_of_task{
    display: flex;
}
#title{
    background-color: transparent;
    border: solid thin white;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
}
.textarea{
    height:60px;
    width: 85%; 
    border: solid thin white;
    color: aliceblue;
    font-size: 30px;
    border-radius: 5px;
    background: transparent;
}
#to_do_name{
    height: 35px;
    background-color: transparent;
    border: solid thin white;
    color: azure;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 250px;
    padding:5px;
}
li{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 5px;
    padding-right: 0;
    background-color: rgb(124, 117, 117);
    border-radius: 5px;
    cursor: pointer;
}
li:nth-child(even){
    background-color: rgb(146, 139, 139);
}
.done_task{
    text-decoration: line-through;
}
.close{
    position: relative;
    right: 0;
    width: 10%;
    text-align: center;
}
.close:hover{
    background-color: rgb(190, 76, 76);
}
h1,h3{
    margin: 0px;
}
span{
    margin: 0;
    padding: 0;
}
button{
    min-width: 70px;
    height: 40px;
    padding: 10px 30px;
    border-radius: 15px;
    background-color:white
}
section{
    width: 70%;
    margin-left: 10%;
    font-size: 22px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
#inst{
    height: 500px;
    gap: 5px;
}
#istruction{
    position: relative;
    display: block;
    width: 70%;
    font-size: 20px;
    cursor:none;
    background-color: transparent;
}
footer{
    position: relative;
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(155, 154, 154, 0.404);
}
.socials{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.socials a{
  transition: all 1s ease;
}
.socials a:hover{
 transform: translateY(-5px);
 animation-fill-mode: forwards;
}
@media(max-width : 780px){
.container{
        margin-left: 0;
        margin-right: 0;
        max-width: 80%;
}
.nav{
    width: 40%;
}
.logo{
        padding-left: 20px;
 }     
.p_name{
    font-size: 30px; 
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.some_desc{
    font-size: 28px;
}
.date_selector{
    height: 200px;
    width: 300px;
}
.task{
    width: 300px;
    height: 500px;
}
.date_container{
    height: 20%;
}
input{
    display: inline;
}
.date{
    width: 80px;
    height: 90px;
    margin-left: 60px;
    transform: translateY(37px);
    border: solid thin black;
    border-radius: 7px;
    text-align: center;
}
.plan{
    border: solid thin;
    border-radius: 10px;
    width: 246px;
    height: 200px;
    background-color: antiquewhite;
    overflow: hidden;
}
.plan{
    width: 300px;
    height: 200px;
}
.date h1{
    padding-top: 10px;
    font-size: 26px;
}
.task_container{
    padding-left: 10px;
}
.catagory_of_task{
    display: flex;
    justify-content: end;
    padding-top: 5px;
    font-size: 10px;
    height: 30px;
}
.catagory_of_task h3{
    padding: 5px;
}
.title_of_task{
    display: flex;
}
#title{
    background-color: transparent;
    width: 200px;
    font-size: 22px;
}
.textarea{
    height:40px;
    width: 85%; 
    font-size: 22px;
    border-radius: 5px;
    background: transparent;
}
ul{
    height: 100px;
}
li{
    font-size: 20px;
    padding: 5px;
}
footer{
    margin-top: 150px;
}
#inst{
    height: 600px;
}
#istruction{
    width: 95%;
}
#task_list{
    flex-direction: column;
}
} 
